


/*---------------- Z-Index ----------------*/
:root {
    --z-lowest: -300;
    --z-lower: -200;
    --z-low: -100;
    --z-normal: 0;
    --z-high: 100;
    --z-higher: 200;
    --z-highest: 300;
}




/*---------------- Resolutions ----------------*/
:root {
    --w-4k: 3839px;
    --w-2k: 2559px;
    --w-desktop: 1920px;
    --w-laptop: 1300px;
    --w-tablet: 1080px;
    --w-phone: 768px;
}




/*---------------- Pagination ----------------*/
:root {
    --page-padding-left: 10vw;
    --page-padding-right: 10vw;
}
@media (max-width: 1300px) {
    :root {
        --page-padding-left: 6.5vw;
        --page-padding-right: 6.5vw;
    }
    :root {
        --page-padding-left: 5vw;
        --page-padding-right: 5vw;
    }
}

.page {
    width: 100vw;
    max-width: 100%;
    padding-left: var(--page-padding-left);
    padding-right: var(--page-padding-right);
    padding-top: 1.25rem;
    padding-bottom: 10vh;
}
.page.wide {
    padding-left: calc(var(--page-padding-left) / 2);
    padding-right: calc(var(--page-padding-right) / 2);
}
.page.narrow {
    padding-left: calc(var(--page-padding-left) * 1.5);
    padding-right: calc(var(--page-padding-right) * 1.5);
}
.page.narrower {
    padding-left: calc(var(--page-padding-left) * 2);
    padding-right: calc(var(--page-padding-right) * 2);
}
.page.narrowest {
    padding-left: calc(var(--page-padding-left) * 2.5);
    padding-right: calc(var(--page-padding-right) * 2.5);
}

.portrait-only {
    display: unset;
}
.landscape-only {
    display: unset;
}
@media (min-width: 1080px) {
    .portrait-only {
        display: none;
    }
}
@media (max-width: 1080px) {
    .landscape-only {
        display: none;
    }
}
@media (max-width: 1300px) {
    .wide-only {
        display: none;
    }
}
@media (min-width: 1300px) {
    .narrow-only {
        display: none;
    }
}

.hero {
    display: flex;
    flex-direction: row;
}
@media (max-width: 1080px) {
    .hero {
        flex-direction: column;
        gap: 6rem;
    }
}




/*---------------- Position & Alignment ----------------*/
.relative, .position-relative {
    position: relative;
}
.absolute, .position-absolute {
    position: absolute;
}

.text-align-center, .center-text {
    text-align: center;
}
.text-align-left {
    width: 100%;
    text-align: left;
}
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.right-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* align-items: end; */
}

.padded {
    padding: 1.5rem;
}
.space-top {
    padding-top: 5rem;
}
.margin-top-half {
    margin-top: 0.5rem;
}
.margin-top-quarter {
    margin-top: 0.75rem;
}
.margin-top-3q {
    margin-top: 0.75rem;
}
.margin-top-1 {
    margin-top: 1rem;
}
.margin-top-2 {
    margin-top: 2rem;
}
.margin-top-3 {
    margin-top: 3rem;
}
.margin-top-4 {
    margin-top: 4rem;
}
.margin-bottom-half {
    margin-bottom: 0.5rem;
}
.margin-bottom-1 {
    margin-bottom: 1rem;
}
.margin-bottom-2 {
    margin-bottom: 2rem;
}
.margin-bottom-4 {
    margin-bottom: 4rem;
}

.flex-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.flex.column {
    flex-direction: column;
}
.flex-content.center {
    justify-content: center;
}
.flex-content.wrap {
    flex-wrap: wrap;
}
.flex-content.right, .flex-content.align-right {
    justify-content: end;
}

.columns {
    display: flex;
    flex-direction: row;
}
@media (max-width: 1080px) {
    .columns {
        flex-direction: column;
    }
}
.columns > div, .columns .column {
    flex-grow: 1;
    flex: 1;
    position: relative;
}



/*---------------- Utility ----------------*/
.hidden {
    display: none;
    visibility: none;
}




/*---------------- Aesthetics ----------------*/
.strikethrough {
    text-decoration: line-through;
}
.bold {
    font-weight: bold;
}

.shadowed, .shadow {
    box-shadow: rgba(55, 55, 55, 0.2) 0px 2px 8px;
}
.shadowed-bottom, .shadow-bottom {
    box-shadow: 0px 6px 8px -5px rgba(55, 55, 55, 0.2);
}
img.shadowed, img.shadow {
    box-shadow: none;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(55, 55, 55, 0.2));
    filter: drop-shadow(3px 3px 5px rgba(55, 55, 55, 0.5));
}
img.shadowed-bottom, img.shadow-bottom {
    box-shadow: none;
    -webkit-filter: drop-shadow(3px 3px 5px rgba(55, 55, 55, 0.5));
    filter: drop-shadow(0px 4px 3px rgba(55, 55, 55, 0.3));
}

.rounded {
    border-radius: 0.75rem;
}
.rounded-left {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}
